/* Enter your custom styles here */
/* Enter your custom styles here */
.sapMTB{

    background: black;
	
}
.sapMTB.sapUiTvH5{
	color:white;
}
.sapThemeText{
	font-size:35px;
	color:red;
}
.sapThemeFontSize{
	font-size:25px;
}
